<p id="notice"><%= notice %></p>

<h4>Wines</h4>

<table class='table table-sm col-6'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Composition</th>
      <th>Reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td>
          <ul class="fa-ul">
            <% wine.order_strains.each do |strain| %> 
              <li><i class="fa-li fas fa-wine-bottle"></i><%= strain %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul class="fa-ul">
            <% wine.oenologist_ids.each do |oenologist| %>
              <% list_grades(oenologist, wine.id).each do |oewin| %>
                <li><i class="fa-li fas fa-star"></i><%= oewin.grade%>, <%= wine.oenologist_name(oenologist) %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
        <% if current_user.admin? %>
          <td><%= link_to 'Show', wine %> </td>
          <td><%= link_to 'Edit', edit_wine_path(wine) %> </td>
          <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Wine', new_wine_path,:class => "btn btn-primary"%>
  <%= link_to 'New Oenologist', new_oenologist_path,:class => "btn btn-outline-primary" %>
  <%= link_to 'New Strain', new_strain_path,:class => "btn btn-outline-primary"  %>
<% end %>

